[tool.poetry]
package-mode = false


[tool.poetry.dependencies]
python = "^3.10"
aiohttp = "^3.9.3"
fastapi = "^0.110.1"
mypy = "^1.9.0"
uvicorn = "^0.29.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
